@import "../../style.scss";

.stories{
    display: flex;
    height: 10rem;
    gap: 1rem;
    max-width: 80rem;
    margin-inline: auto;

    @include mobile{
        height: 5rem;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    @include tablet{
        height: 8rem;
        overflow: hidden;
        justify-content: center;
        align-items: center;
    }

    .story{
        flex: 1;
        border-radius: .5rem;
        overflow: hidden;
        position: relative;

        @include mobile{
           flex: none;
           width: 4rem;
           height: 4rem;
           border-radius: 50%;
           justify-content: space-between;

           &:nth-last-child(-n+3){
            display: none;
           }
        }

        @include tablet{
           flex: none;
           width: 5rem;
           height: 5rem;
           border-radius: 50%;
           justify-content: space-between;
        }

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }

        span{
            position: absolute; 
            left: .5rem;
            bottom: .2rem;
            font-size: .8rem;
            border-radius: .5rem;
            width: fit-content;
            font-weight: 500;
            backdrop-filter: blur(10px) saturate(70%);
            padding: 5px;
            border-radius: .5rem;

            @include mobile{
                backdrop-filter: none;
                font-size: .4rem;
                font-weight: 500;
                color: white;
            }

            @include tablet{
                backdrop-filter: none;
                font-size: .4rem;
                font-weight: 600;
                color: white;
            }
        }

        button{
            position: absolute;
            bottom: 2rem;
            left: .5rem;
            color: white;
            background: rgb(110, 73, 246);
            border: none;
            padding: .1rem .4rem;
            font-size: 1rem;
            border-radius: 50%;
            cursor: pointer;

            @include mobile{
                bottom: 1.5rem;
                left: .2rem; 
                padding: .05rem .3rem;
                font-size: 1rem;
            }

            @include tablet{
                bottom: 1.8rem;
                left: .4rem; 
                padding: .1rem .4rem;
                font-size: 1rem;
            }
        }
    }
}