@import "../../darkTheme.scss";

.navbar{
    @include themify($themes){
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 20px;
        height: 50px;
        border-bottom: 1px solid themed("textColorsoft");
        position: sticky;
        top: 0; 
        z-index: 1;
        background-color: themed("bg");
        color: themed("textColor");

        .icon{
            font-size: 1.4rem;
            cursor: pointer;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 2rem;

            span{
                font-size: 2rem;
                font-weight: 500;
                color: hsl(180, 100%, 22%);
            }

            .search{
                display: flex;
                align-items: center;
                gap: 1rem; 
                border: 1px solid themed("border");
                padding: .2rem 1.5rem;
                border-radius: .5rem;

                input{
                    border: none;
                    width: 25rem;
                    font-size: 1rem;
                    height: 2rem;
                    background: transparent;
                    color: themed(textColor);

                    &:focus{
                        outline: none;
                    }
                }
            }
        }

        .right{
            display: flex;
            align-items: center;
            gap: 1.5rem;

            .user{
                display: flex;
                align-items: center;
                margin-left: 1rem;
                gap: .5rem;

                img{
                    width: 2rem;
                    border-radius: 50%;
                }

                span{
                    font-size: 1rem;
                    font-weight: 500;
                }
            }
        }
    }
}