@import "../../style.scss";

.post{

    @include themify($themes){
    .container{
        padding: 1rem;
        border: 1px solid themed("border");
        border-radius: .5rem;
        max-width: 50rem;
        margin-inline: auto;

        .user{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem;

            .userInfo{
                display: flex;
                gap: .8rem;
                align-items: center;

                img{
                    height: 2.3rem;
                    width: 2.5rem;
                    object-fit: cover;
                    border-radius: 50%;
                    border: 1px solid green;
                }

                .details{
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    color: themed("textColor");

                    .name{
                        font-size: .8rem;
                    }

                    .post-privacy{
                        display: flex;
                        align-items: center;
                        color: themed("textColor");

                        .date{
                            font-size: .6rem;
                        }

                        .globe__icon{
                            font-size: .8rem;
                        }
                    }
                }
            }
        }

        .content{
            margin: 1rem 0;

            p{
                font-size: .8rem;
                line-height: 1.5;
                color: themed("textColor");
            }

            img{
                margin-top: 1rem;
                width: 100%;
                max-height: 20rem;
                object-fit: cover;
                border-radius: .3rem;
            }
        }

        .post-action{

            .item{
                display: flex;
                gap: 1.5rem;

                p{
                    display: flex;
                    gap: .3rem;
                    align-items: center;
                    font-size: .8rem;
                    cursor: pointer;
                    color: themed("textColor");
                    

                    .item-icon{
                        font-size: 1.5rem;
                        color: themed("textColor");
                    }
                }
            }
        }
    }
    }
}